{% extends "base/base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_title %}
  Dashboard
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>My Dashboard</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- Nav Tabs -->
    <ul id="page-tabs" class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#tab-home" role="tab" data-toggle="tab">Home</a></li>
      <li><a href="#tab-teams" role="tab" data-toggle="tab">Teams</a></li>
      <li><a href="#tab-meets" role="tab" data-toggle="tab">Meets</a></li>
      <li><a href="#tab-dataimport" role="tab" data-toggle="tab">Data Import</a></li>
    </ul>
  </div>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="tab-home">
      <div class="row">
        <div class="col-md-12">
          <dl class="dl-horizontal">
            <dt>Title</dt>
            <dd><p>Data</p></dd>
            <dt>Random Number</dt>
            <dd><p>{{random_number}}</p></dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a href="" class="btn btn-primary">Place Holder</a>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="tab-teams">
      <div class="row">
        <div class="col-md-3">
          <h3>My Teams</h3>
        </div>
        <div class="col-md-9">
          <h3><a href="" class="btn btn-primary">New Team</a></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {% for team in teams %}
            <h4>{{ team }}</h4>
            <dl class="dl-horizontal">
              <dt>Team Type</dt>
              <dd><p>{{ team.team_type.type_name }}</p></dd>
              <dt>Team Registration</dt>
              <dd><p>{{ team.team_reg.type_name }}</p></dd>
              <dt></dt>
              <dd><a href="#">Team Info</a><dd>
            </dl>
            <hr />
          {% empty %}
            <p>No teams found</p>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="tab-pane" id="tab-meets">
      <div class="row">
        <div class="col-md-12">
          <h3>My Meets</h3>
          <h4>Meet Info</h4>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="tab-dataimport">
      <div class="row">
        <div class="col-md-12">
          <h3>Data Import</h3>
          <h4>Upload File</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {% crispy upload_form upload_form.helper %}
          <div id="loading" style="display:none;">
            <span id="load_text">loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
  {{ block.super }}
  <script src="{% static 'js/libs/jquery.form.min.js' %}"></script>
  <script src="{% static 'js/user_dashboard.js' %}"></script>
{% endblock %}
